<div class="container">
  <div class="row">

    <div class="col-4 element-1">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon1">
            <i class="material-icons">info_outline</i>
          </div>
          <p class="card-category">Average grade in all subjects</p>
          <h3 class="card-title">75</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Tracked from Github
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 element-2">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon2">
            <i class="material-icons">info</i>
          </div>
          <p class="card-category">Revenue</p>
          <h3 class="card-title">$34,245</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 element-3" >
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon3">
            <i class="material-icons">info</i>
          </div>
          <p class="card-category">Revenue</p>
          <h3 class="card-title">$34,245</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
