@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
.col-12{
  padding: 0 !important;
  margin: 0 !important;
}
button{
  outline: none !important;
}

body{
  font-family: 'Padauk', sans-serif !important;
}

