<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p class="logo">Table Students</p>
    <p class="menu-item">Students SPBGU</p>
    <p class="menu-item">Students ITMO</p>
    <p class="menu-item">Students GYAP</p>
    <p class="menu-item">Students Politeh</p>
    <p class="menu-item">Students VOENMEH</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-stats></app-stats>
          <app-table></app-table>
        </div>
      </div>
    </div>

  </div>

</mat-drawer-container>

